---
layout: page
title: K8S
description: K8S
header-img: "img/k8s-bg.jpg"
tags: [k8s 笔记]
---

{% for post in site.posts %}
    {% if post.type == 'k8s' %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
            <p class="post-meta">
                Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
            </p>
        </div>
        <hr>
    {% endif %}
{% endfor %}